
*.txt
*.log
*.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
*.json
cmake-build-debug/.ninja_log
*.ninja
cmake-build-debug/.ninja_deps
*.cmake
*.bin
*.exe
*.c
*.cpp
*.check_cache
*.obj
cmake-build-release/.ninja_deps
cmake-build-release/.ninja_log
*.iml
.idea/.name
*.csv
